<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Control usuarios de Taller Mecanico</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
</head>

<body>

    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
            <div class="container">

                <nav class="navbar">
                  <a class="navbar-brand" href="#">
                    <img src="../static/img/logoTaller.png" width="75" height="30" class="d-inline-block align-top" alt="">
                   Control usuarios de Taller Mecanico
                  </a>
                </nav>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Right -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/control" class="nav-link waves-effect">
                                <i> Iniciar sesión </i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">
        <div class="jumbotron" align="center">
          <h1 class="display-4">Bienvenido al control de clientes</h1>
          <p class="lead">Esta pagina se creo para tener el control de los clientes del taller de mecanico, en el cual se pueden realizar altas, bajas y modificaciones a los datos de los clientes.</p>
          <img src="../static/img/imgElectrico.jpg">
          <hr class="my-4">
          <p>Da click en iniciar sesion para comenzar.</p>
        </div>
        </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">


    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</body>

</html>